<div id="app" class="wraper">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"> F1Predictor</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="checkLogin()" routerLink="calendar">Calendar</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!checkLogin()">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="checkLogin()">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ getUsername() }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container mb-5" style="background-color: rgba(245, 244, 244, 0.89);">
    <router-outlet></router-outlet>
    <app-spinner></app-spinner>
  </div>
  <!-- Sticky Footer -->
  <footer class="navbar navbar-expand navbar-dark bg-dark footer">
    <span class="navbar-brand">&copy; 2024 F1Predictor</span>
  </footer>

</div>